# Editor and local tool state
.vscode*
.code*
.idea*
*.swp
*.swo
*~

# Environment files
.env*
.envrc

# Kubernetes and ArgoCD local files
.argocd/
argocd.yaml
k.yaml
kubeconfig
kubeconfig.yaml
vcluster

# TLS and secrets
*.crt
*.key

# Python
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
build/
dist/
venv/
.venv/
k.yaml
*.crt
*.key
documents/*
eoepca-openrc-2fa.sh
deploy/sealed-secrets-keys.yaml

# Pulumi
.pulumi/
